In [5]:
import pandas as pd

In [6]:
pd.read_csv("irrigation.csv")

,irrig date (ddmmyyyy),irrig depth (mm),irrig hour start,irrig hour end,depth at which irrig application occurs (m),irrig pH,NH4-N in irrig (g/m3),NO3-N in irrig (g/m3),PO4-P in irrig (g/m3),Al in irrig (g/m3),Fe in irrig (g/m3),Ca in irrig (g/m3),Mg in irrig (g/m3),Na in irrig (g/m3),K in irrig (g/m3),SO4-S in irrig (g/m3),Cl in irrig (g/m3)
0,16102003,12.7000,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
1,3112003,8.8900,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
2,25112003,8.3820,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
3,10032004,2.7940,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
4,11032004,13.9700,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,22062011,7.3152,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
355,23062011,5.4864,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
356,24062011,7.0104,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
357,25062011,7.3152,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
358,26062011,7.6200,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0

In [7]:
import csv
from datetime import datetime

# Path to the CSV file
file_path = '/Users/oscarli/Desktop/GitHub/eric-trial-data/irrigation.csv'

# Function to parse the date and extract the year
def get_year_from_date(date_str):
    # Attempt to handle date formats with missing leading zeros
    try:
        return datetime.strptime(date_str, "%d%m%Y").year
    except ValueError:
        return datetime.strptime(date_str, "%d%m%y").year

# Initialize a dictionary to hold data lines for each year
yearly_data = {}

# Read the CSV file
with open(file_path, mode='r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header line
    for row in reader:
        date_str = row[0]
        year = get_year_from_date(date_str)
        if year not in yearly_data:
            yearly_data[year] = []
        yearly_data[year].append(','.join(row))

# Write each year's data to a separate text file
for year, lines in yearly_data.items():
    output_file_path = f'/Users/oscarli/Desktop/GitHub/eric-trial-data/irr_{year}.txt'
    with open(output_file_path, 'w') as file:
        for line in lines:
            file.write(line + '\n')
    print(f'Data for {year} written to {output_file_path}')

Data for 2003 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2003.txt
Data for 2004 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2004.txt
Data for 2005 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2005.txt
Data for 2006 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2006.txt
Data for 2007 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2007.txt
Data for 2008 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2008.txt
Data for 2009 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2009.txt
Data for 2010 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2010.txt
Data for 2011 written to /Users/oscarli/Desktop/GitHub/eric-trial-data/irr_2011.txt